<h2>{{name}}</h2>
<dl>
  <dt>Year Started</dt>
  <dd>{{started}}</dd>
  <dt>Ended?</dt>
  <dd>{{ended}}</dd>
  <dt>Number of Seasons</dt>
  <dd>{{seasons}}</dd>
  <dt>Country</dt>
  <dd>{{country}}</dd>
</dl>